doctype html
html(lang='en')
  head
    meta(charset='UTF-8')
    meta(http-equiv='X-UA-Compatible' content='IE=edge')
    meta(name='viewport' content='width=device-width, initial-scale=1.0')
    link(rel='stylesheet' href='./css/category.css')
    title Document
  body
    h1 BẠN CẦN GÌ?
    nav
      ul
        a(href='/skin')
          li
            | Làn da
            span
            span
            span
            span
        a(href='/body')
          li
            | Dáng người
            span
            span
            span
            span
        a(href='/face')
          li
            | Khuôn mặt
            span
            span
            span
            span