<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/skin.css">
    <link rel="stylesheet" href="/test.css">
    <title>Beauty Consultant</title>
</head>

<body>
    <div class="container">
        <form method="post">
            <div class="card">
                <h2>Nhập số đo ngực</h2><input id="bust" type="number" name="bust">
            </div>
            <div class="card">
                <h2>Nhập số đo mông</h2><input id="hip" type="number" name="hip">
            </div>
            <div class="card">
                <h2>Nhập vào số đo eo ?</h2><input id="waist" type="number" name="waist">
            </div><button class="submit-btn" value="submit">Submit</button>
        </form>
    </div>
</body>

</html>