<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="./css/result.css">
    <title>Kết quả</title>
</head>

<body>
    <div class="container">
        <div class="info">
            <h2 class="info-head">quý danh vị hảo hán</h2>
            <p class="info-name">Tên: <span>Nguyen Xuan Luu</span></p>
            <p class="info-age">Tuổi: <span>45</span></p>
        </div>
        <div class="skin">
            <h2 class="info-head">tư vấn về da</h2>
            <h3>Thông tin đã nhập</h3>
            <p class="info-name">Da cân bằng: <span>N</span></p>
            <p class="info-name">Màu da: <span>Da xỉn màu</span></p>
            <p class="info-name">Dầu ở vùng chữ T: <span>N</span></p>
            <p class="info-name">Bề mặt: <span>Da mịn màng</span></p>
            <p class="info-name">Da có căng: <span>N</span></p>
            <p class="info-name">Kích thước lỗ chân lông: <span>Không nhìn thấy</span></p>
            <p class="info-name">Môi trường làm việc: <span>Trong phòng diều hòa</span></p>
            <h3>Phân loại da: Da khô</h3>
            <h3>Tip cho da bạn:</h3>
            <p class="skin-text">Tránh rửa mặt quá nhiều do nó có thể dẫn đến việc khô da. Vì thế buổi sáng không cần
                phải rửa mặt nếu đã làm nó vào buổi tố. serum chống oxy hóa, kem dưỡng mắt và kem dưỡng ẩm có chỉ số SPF
                30 hoặc cao hơn. Vào cuối ngày, hãy sử dụng kem hoặc chất tẩy rửa dạng dầu không làm mất đi lớp dầu tự
                nhiên của da và thoa kem dưỡng ẩm ban đêm.</p>
            <h3>Thành phần tốt cho da bạn:</h3>
            <ul>
                <li>Hyaluronic acid: có thể hấp thụ gấp 1.000 lần trọng lượng của nó trong nước, làm cho nó trở thành
                    một thành phần chính khi chống lại làn da khô</li>
                <li>Glycerine: chất giữ ẩm hiệu quả nhất</li>
                <li>Squalane: Hoạt động tương tự bã nhờn, giúp da không bị mất nước trong giấc ngủ.</li>
            </ul>
            <h3>Thành phần có hại cho da bạn:</h3>
            <ul>
                <li>Denatured alcohols: Chất làm se da.</li>
                <li>Fragrances: Nước hoa là chất gây kích ứng da phổ biến và nổi tiếng là nguyên nhân hàng đầu gây dị
                    ứng da. Mặc dù không phải là vấn đề đối với tất cả mọi người, nhưng da khô sẽ khiến bạn dễ bị kích
                    ứng hơn</li>
                <li>Salicylic Acid: Khi sử dụng cho da khô, nó có thể dẫn đến mẩn đỏ, kích ứng và viêm do thiếu dầu.
                </li>
            </ul>
            <h3>Tư vấn về sản phẩm</h3>
            <p class="info-name"><span>Bạn nên sử dụng các sản phẩm có dạng bào chế cream có oil</span></p>
            <p class="info-name">Kem chống nắng: <span>Bạn nên sử dụng kem chống nắng có đặc tính Chống nắng vật lý có
                    chỉ số spf: SPF 15 hoặc SPF 30 </span></p>
            <p class="info-name">Sản phẩm điều trị:
            <ul> </ul>
            <li>Niacinamide (&lt;5%)</li>
            <li>Niacinamide (&gt;20%)</li>
            </p>
        </div>
        <div class="body">
            <h2 class="info-head">tư vấn về dáng người<h3>Phân loại dáng người: Dáng tam giác ngược</h3>
                <h3>Bài tập phù hợp</h3>
                <p class="info-name">Thực hiện các bài tập Cardio. Cải thiện thân dưới bằng các bài tập gym cho hông nở.
                    Tập luyện săn chắc thân trên.</p>
                <h3>Dinh dưỡng phù hợp</h3>
                <p class="info-name">Hạn chế đồ ngọt cũng những thực phẩm chứa nhiều tinh bột, để tránh làm tăng lượng
                    đường trong cơ thể, dẫn đến tích tụ mỡ thừa.</p>
                <h3>Trang phuc phù hợp</h3>
                <p class="info-name">
                <ul> </ul>
                <li><span> </span>Áo: Những chiếc áo giúp tạo độ sâu ở phần ngực, giúp vai gọn như: dáng áo hình chữ U,
                    hoặc chữ V, dáng lệch vai đều là những lựa chọn tuyệt vời dành cho dáng tam giác ngược. Tay áo phải
                    làm cho vai thon gọn hơn. Chọn những loại tay áo rộng có độ rủ, hoặc dáng tay áo có đường cắt giúp
                    phần trên nhỏ hơn so với thực tế. Khi phối đồ bạn nên chọn màu áo tối hơn so với màu quần hoặc chân
                    váy, chọn loại áo sơ mi cổ nhỏ, không họa tiết, hoặc họa tiết ít/nhỏ để chuyển sự chú ý tới phần
                    dưới của cơ thể.<img src="/pic/TG-AO.png" alt="anh" srcset="" height="100"></li>
                <li><span> </span>Quần: Dáng quần như baggy, turns up, quần nhiều túi, hoặc túi hộp (combat, Cargo),
                    quần ống lửng, quần rộng ống, quần ống loe, quần harem -&gt; Làm phần thân dưới của bạn trông to
                    hơn<img src="/pic/TG-Q.png" alt="anh" srcset="" height="100"></li>
                <li><span> </span>Chân váy: Những dáng váy xòe, phồng từ phần hông trở xuống đều giúp vòng 3 lớn hơn như
                    dáng váy xòe tròn, dáng váy chữ A, dáng váy xòe (Ba lê), dáng dập ly rủ (bias cut),<img
                        src="/pic/TG-CV.png" alt="anh" srcset="" height="100"></li>
                <li><span> </span>Váy: Những dáng váy mặc đẹp đơn giản là những dáng có đường thẳng phía trên và phồng
                    phía dưới như váy chữ A, váy triết ngực, váy xuông đều là sự lựa chọn của bạn.<img
                        src="/pic/TG-V.png" alt="anh" srcset="" height="100"></li>
                </p>
            </h2>
        </div>
        <div class="face">
            <h2 class="info-head">tư vấn về khuôn mặt<h3>Phân loại khuôn mặt: Mặt chữ nhật, thuôn dài</h3>
                <h3>Kiểu tóc phù hợp</h3>
                <p class="info-name">
                <ul> </ul>
                <li>
                    <h5>Kiểu tóc ngắn tỉa layer: </h5><span>Với kiểu tóc này, bạn sẽ được cắt tỉa tóc thành nhiều lớp
                        khác nhau một cách tinh tế để che đi chiều dài của khuôn mặt chữ nhật. Vì thế, nhìn vào đó, bạn
                        sẽ thấy một cấu trúc mặt hài hòa cân xứng hơn. Bạn có thể phá cách hơn với phần tóc bên hàm bằng
                        cách bo cụp vào hoặc ngắn hẳn lên để khuôn mặt thêm nhỏ nhắn và xinh xắn.: </span>
                </li>
                <li>
                    <h5>Kiểu tóc xoăn đuôi gợn sóng: </h5><span>Phần đuôi tóc gợn sóng tạo ra độ mềm mại kết hợp với
                        chiều dài của tóc vừa phải sẽ thu ngắn sự chênh lệch tỷ lệ dài rộng của khuôn mặt. Nhờ đó, bạn
                        sẽ thấy khuôn mặt của mình trở nên đáng yêu, bầu bình hơn.: </span>
                </li>
                <li>
                    <h5>Tóc dài xoăn wavy: </h5><span>Các cô gái có mặt chữ nhật và phần hàm rộng thì nên chọn kiểu tóc
                        xoăn wavy nhé. Chúng sẽ hô biến làm cho khuôn mặt được gọn gàng hơn phần gò má, quai hàm và cân
                        xứng với chiều dài rộng của khuôn mặt.: </span>
                </li>
                </p>
            </h2>
        </div>
    </div>
</body>

</html>