doctype html
html(lang='en')
  head
    meta(charset='UTF-8')
    meta(http-equiv='X-UA-Compatible' content='IE=edge')
    meta(name='viewport' content='width=device-width, initial-scale=1.0')
    link(rel='stylesheet' href='/css/skin.css')
    link(rel='stylesheet' href='/test.css')


    title Beauty Consultant
  body
    .container

      form(method="post" action= action)
        if error
          .alert.alert-danger(role='alert')
            | #{mess}
            a.alert-link(href='/skin/result' style="margin-left: 10px") 
              | bỏ qua
       
        .card
            h2
                | Nhập số đo ngực
            input(id='bust' type="number" name='bust')
        .card
            h2
                | Nhập số đo mông
            input(id='hip' type="number" name='hip')
        .card
            h2
                | Nhập vào số đo eo ?
            input(id='waist' type="number" name='waist')
        button.submit-btn(value='submit') Submit

